.row
  .span8
    .hero-unit
      %h1 ngerental.com
      %p Cara rental paling mudah, nyaman dan terpercaya.
  .span4
    %h2 Testimonal
    %blockquote
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis.
      %small Someone famous
.row
  .span4
    %h2 Asuransi
    %p Kami bekerja sama dengan lembaga asuransi yang terpercaya. Tarif kami sudah termasuk program asuransi.
  .span4
    %h2 Cepat & Mudah
    %p Cukup menunjukkan KTP/SIM/Paspor untuk WNA dan mengisi formulir online.
  .span4
    %h2 Antar Jemput
    %p Produk kami bisa diantar ke tempat anda (hotel, bandara, stasiun, rumah, atau mall). Dan untuk pengembaliannya juga mudah, bisa kita jemput.

%hr
.row
  .span12
    %h1#gallery Gallery
    %hr
.row
  .span12
    %ul.thumbnails
      = render @products
%hr
