#green-bg.row
  .span12
    .inner-wrapper
      %br
      %h1#tagline No credit card required
      %p.sub-head
        Cancel or change plans at any time.
        %br
        Signup only takes just 30 seconds! 
        %strong Free trial for all plans.
      #plans
        #enterprise.plan
          %h2 Unlimited
          %br
          /%p.for-who No transaction fee!
          %p.feature 
            %strong Unlimited
            products
          %p.feature 
            %strong Unlimited
            customers 
          %p.feature 
            %strong Unlimited
            users
          %p.feature 
            %strong 0%
            transaction fee
          %p.price
            %strong
              %span.currency-unit IDR
              1.000.000
              %span.currency-unit /year
          %p.price
            %strong
              %span.currency-unit IDR
              100.000
              %span.currency-unit /month
          = link_to "Start free trial", new_account_path, :class => "btn btn-primary"
        #business.plan
          %h2 Business
          %br
          /%p.for-who Best value!
          %p.feature 
            %strong 50
            products
          %p.feature 
            %strong 50
            customers 
          %p.feature 
            %strong 5
            users
          %p.feature 
            %strong 10%
            transaction fee
          %p.price
            %strong
              %span.currency-unit IDR
              500.000
              %span.currency-unit /year
          %p.price
            %strong
              %span.currency-unit IDR
              50.000
              %span.currency-unit /month
          = link_to "Start free trial", new_account_path, :class => "btn btn-primary"
        #pro.plan
          %h2 Pro
          %br
          /%p.for-who Start right!
          %p.feature 
            %strong 100
            products
          %p.feature 
            %strong 100
            customers 
          %p.feature 
            %strong 10
            users
          %p.feature 
            %strong 5%
            transaction fee
          %p.price
            %strong
              %span.currency-unit IDR
              750.000
              %span.currency-unit /year
          %p.price
            %strong
              %span.currency-unit IDR
              75.000
              %span.currency-unit /month
          = link_to "Start free trial", new_account_path, :class => "btn btn-primary"